@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #121212;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.btn {
  display: block;
  background-color: #121212;
  color: #fff;
  width: 9em;
  padding: 1em 2em;
  margin: 2em auto;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.8;
}

header,
footer {
  background: #121212;
  color: #fff;
}

header p {
  padding: 1em 2em;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 1px;
  border-bottom: 2px solid #252525;
}

#header-wrapper {
  border-bottom: 2px solid #252525;
  padding: 0 50px;
}

#header-wrapper #logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-wrapper #logo li {
  padding: 1.5em;
}

#header-wrapper #logo i {
  font-size: 1.2em;
}

#header-wrapper #logo a[href='#'] {
  color: #fff;
  transition: all 1s;
}

#header-wrapper #logo a[href='#']:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

#header-wrapper #logo img {
  width: 70px;
  height: 70px;
}

header nav a,
footer .menu a,
footer .menu + a {
  color: #c4c4c4;
}

header nav a:hover,
footer .menu a:hover,
footer .menu + a:hover {
  color: #fff;
  text-decoration: underline 1px #fff;
  text-underline-offset: 4px;
}

#header-wrapper nav ul {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
}

#header-wrapper nav ul a,
footer .menu a {
  padding: 1em 1em;
  margin-right: 1em;
}

#header-wrapper nav ul i {
  display: inline-block;
  padding-left: 10px;
}

header #banner {
  background: url('../img/background.jpg') no-repeat center/cover;
  width: 100%;
  height: 52vh;
}

/* Showcase */

main {
  padding: 50px;
}

main ul a:hover p {
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

main ul p {
  margin: 1em 0;
}

#drone-repair-shop ul {
  grid-gap: 0.7em;
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#drone-repair-shop ul li {
  margin-bottom: 3em;
}

#drone-repair-shop ul li img,
#news ul li img {
  border: 2px solid #121212;
}

#news ul {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7em;
}

/* Image-gallery */
main #img-gallery ul {
  display: grid;
  grid-gap: 1rem;
  height: 700vh;
  grid-template-areas:
    'img-1 img-2 img-2'
    'img-3 img-3 img-4'
    'img-3 img-3 img-5'
    'img-6 img-7 img-7'
    'img-8 img-8 img-9'
    'img-8 img-8 img-10';
}

#img-gallery #img-1 {
  background: url(../img/image-1.jpeg) no-repeat center/cover;
  grid-area: img-1;
}

#img-gallery #img-2 {
  background: url(../img/image-2.jpeg) no-repeat center/cover;
  grid-area: img-2;
}

#img-gallery #img-3 {
  background: url(../img/image-3.jpeg) no-repeat center/cover;
  grid-area: img-3;
}

#img-gallery #img-4 {
  background: url(../img/image-4.jpeg) no-repeat center/cover;
  grid-area: img-4;
}

#img-gallery #img-5 {
  background: url(../img/image-5.jpeg) no-repeat center/cover;
  grid-area: img-5;
}

#img-gallery #img-6 {
  background: url(../img/image-6.jpeg) no-repeat center/cover;
  grid-area: img-6;
}

#img-gallery #img-7 {
  background: url(../img/image-7.jpeg) no-repeat center/cover;
  grid-area: img-7;
}

#img-gallery #img-8 {
  background: url(../img/image-8.jpeg) no-repeat center/cover;
  grid-area: img-8;
}

#img-gallery #img-9 {
  background: url(../img/image-9.jpeg) no-repeat center/cover;
  grid-area: img-9;
}

#img-gallery #img-10 {
  background: url(../img/image-10.jpeg) no-repeat center/cover;
  grid-area: img-10;
}

/* Footer */
footer .container {
  padding: 3em;
  text-align: center;
}

footer h3 {
  text-align: center;
  margin-bottom: 1.5em;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu + a {
  display: inline-block;
  margin-bottom: 3em;
}

.follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-us ul a {
  color: #fff;
}

.follow-us div {
  text-align: start;
}

.follow-us label {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.follow-us input {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 1em;
  width: 25em;
  border: 2px solid #949494;
  background: #121212;
  color: #fff;
}

.follow-us input:focus:hover {
  border: 2px solid #fff;
}

.follow-us input:focus {
  border: 2px solid #fff;
  outline: none;
}

.follow-us input:hover {
  border: 2px solid #b4b4b4;
}

.follow-us ul {
  align-self: end;
}

.follow-us ul li a {
  padding: 1em;
}

.follow-us ul li a:hover {
  color: #949494;
}
